.account {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 50%;

    .container {
        padding: 20px;

        .top {
            display: flex;
            justify-content: space-between;
            padding: 10px 77px 10px 77px;
            margin-bottom: 60px;
            font-size: 18px;
            font-weight: bold;
            
            .button {
                cursor: pointer;
            }

        }

        hr {
            margin: 20px 75px;
            border: none;
            height: 0.5px;
            background-color: #444,
        }

        .bottom {
            display: flex;
            justify-content: space-between;
            padding: 10px 77px 10px 77px;

            .accountType {
                font-size: 16px;
                font-weight: bold;
            }
            
            .negative {
                color: #ff5252;
                font-weight: bold;
            }
            .positive {
                color: #4caf50;
                font-weight: bold;
            }
            
            
        }
    }

}